server :
  port : 8761

eureka :
  instance :
    hostname : 127.0.0.1
  client :
    registerWithEureka : false
    fetchRegistry : false
    serviceUrl :
      defaultZone : http://${eureka.instance.hostname}:${server.port}/eureka/
#启动所有端点的健康检查
#management:
#  endpoints:
#    web:
#      exposure:
#        include: "*"